<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.yesomething.dao.FriendsDao">
  <resultMap id="BaseResultMap" type="cn.yesomething.domain.Friends">
    <id column="friends_id" jdbcType="INTEGER" property="friendsId" />
    <result column="friend_id" jdbcType="INTEGER" property="friendId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="friend_name" jdbcType="VARCHAR" property="friendName" />
    <result column="friend_type" jdbcType="INTEGER" property="friendType" />
    <result column="friend_group_type" jdbcType="INTEGER" property="friendGroupType" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from friends
    where friends_id = #{friendsId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.yesomething.domain.Friends">
    insert into friends (friends_id, friend_id, user_id, 
      friend_name, friend_type, friend_group_type
      )
    values (#{friendsId,jdbcType=INTEGER}, #{friendId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, 
      #{friendName,jdbcType=VARCHAR}, #{friendType,jdbcType=INTEGER}, #{friendGroupType,jdbcType=INTEGER}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.yesomething.domain.Friends">
    update friends
    set friend_id = #{friendId,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER},
      friend_name = #{friendName,jdbcType=VARCHAR},
      friend_type = #{friendType,jdbcType=INTEGER},
      friend_group_type = #{friendGroupType,jdbcType=INTEGER}
    where friends_id = #{friendsId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select friends_id, friend_id, user_id, friend_name, friend_type, friend_group_type
    from friends
    where friends_id = #{friendsId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select friends_id, friend_id, user_id, friend_name, friend_type, friend_group_type
    from friends
  </select>
</mapper>